In [1]:
import pandas as pd

In [2]:
# Load orders.csv
df_orders = pd.read_csv('orders.csv')

In [3]:
# Preview the data
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [4]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5904 entries, 0 to 5903
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       5904 non-null   object
 1   customer_id                    5904 non-null   object
 2   order_status                   5904 non-null   object
 3   order_purchase_timestamp       5904 non-null   object
 4   order_approved_at              5889 non-null   object
 5   order_delivered_carrier_date   5810 non-null   object
 6   order_delivered_customer_date  5734 non-null   object
 7   order_estimated_delivery_date  5904 non-null   object
dtypes: object(8)
memory usage: 184.6+ KB

In [5]:
df_orders.info()
print("\nMissing values:\n", df_orders.isnull().sum())
print("\nDuplicate rows:", df_orders.duplicated().sum())
print("\nUnique values:\n", df_orders.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5904 entries, 0 to 5903
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       5904 non-null   object
 1   customer_id                    5904 non-null   object
 2   order_status                   5904 non-null   object
 3   order_purchase_timestamp       5904 non-null   object
 4   order_approved_at              5889 non-null   object
 5   order_delivered_carrier_date   5810 non-null   object
 6   order_delivered_customer_date  5734 non-null   object
 7   order_estimated_delivery_date  5904 non-null   object
dtypes: object(8)
memory usage: 184.6+ KB

Missing values:
 order_id                           0
customer_id                        0
order_status                       0
order_purchase_timestamp           0
order_approved_at                 15
order_delivered_carrier_date      94
order_delivered_customer_date    170
order_estimated_delivery_date      0
dtype: int64

Duplicate rows: 0

Unique values:
 order_id                         5904
customer_id                      5904
order_status                        6
order_purchase_timestamp         5901
order_approved_at                5846
order_delivered_carrier_date     5685
order_delivered_customer_date    5733
order_estimated_delivery_date     410
dtype: int64

In [6]:
# Convert datetime columns to datetime format
datetime_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

for col in datetime_cols:
    df_orders[col] = pd.to_datetime(df_orders[col], errors='coerce')

# Handling missing values
# We will not drop rows, just keep them as nulls (Bronze layer keeps raw truth)
print("Remaining nulls after datetime conversion:\n", df_orders.isnull().sum())

# Final check
df_orders.info()

Remaining nulls after datetime conversion:
 order_id                           0
customer_id                        0
order_status                       0
order_purchase_timestamp           0
order_approved_at                 15
order_delivered_carrier_date      94
order_delivered_customer_date    170
order_estimated_delivery_date      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5904 entries, 0 to 5903
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       5904 non-null   object
 1   customer_id                    5904 non-null   object
 2   order_status                   5904 non-null   object
 3   order_purchase_timestamp       5904 non-null   datetime64[ns]
 4   order_approved_at              5889 non-null   datetime64[ns]
 5   order_delivered_carrier_date   5810 non-null   datetime64[ns]
 6   order_delivered_customer_date  5734 non-null   datetime64[ns]
 7   order_estimated_delivery_date  5904 non-null   datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 299.9+ KB

In [ ]:
df_orders.to_csv("cleaned_orders.csv", index=False)